.select-screen {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.player-options {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	padding: 1.5rem;
	justify-content: center;
	flex-wrap: wrap;
}

.player-select {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	padding: 1rem;
	gap: 1rem;
}

.type-div {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.radio-div {
	display: flex;
	width: 50%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	border: 1px solid black;
	border-radius: 1rem;
	gap: 1rem;
}

label {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	text-align: center;
}

img {
	width: 3rem;
}
