.fog-of-war {
	opacity: 0.3;
}

.hit {
	color: red;
}

.sunk {
	background-color: red !important;
	border: 1px solid red;
	color: white;
}

#enemy-board .cell {
	cursor: crosshair;
}

#enemy-board .shot-fired {
	cursor: not-allowed;
}
